
<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>Mensaje personalizado para contenido <b>vacío</b></div>
  </ng-container>
  <ng-container contenido>
  <div
    *ngFor="let pelicula of peliculas; let index = index"
    class="pelicula-contenedor"
  >
    <div>Pelicula {{ index + 1 }}: {{ pelicula.titulo }}
      <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
    </div>

    <div>Fecha Lanzamiento: {{ pelicula.fechaLanzamiento | date }}</div>
    <div>
      Fecha Lanzamiento: {{ pelicula.fechaLanzamiento | date: "dd-MM-YYYY" }}
    </div>
    <div>
      Fecha Lanzamiento: {{ pelicula.fechaLanzamiento | date: "dd-MMMM-yyyy" }}
    </div>
    <div>Precio: {{ pelicula.precio }}</div>
    <div>Precio: {{ pelicula.precio | currency }}</div>
  </div>
</ng-container>
</app-listado-generico>
